---
import Layout from "../layout/layout.astro"
---

<Layout title="404 page">
    <div class="flex flex-col align-center justify-center text-center h-lvh gap-4">
        <p class="w-full text-4xl text-secondary font-bold font-space dark:text-primary">404</p>
        <p class="font-bold text-m-xl align-text-top"> Looks like you're lost</p>

        <p class="font-bold text-m-base align-text-top">the page you are looking for is not avaible!</p>
    </div>
</Layout>