---

---
<div
  class="prose
  prose-h1:font-bold lg:prose-h1:text-3xl prose-h1:text-xl
  prose-a:text-secondary
  dark:prose-headings:text-primary dark:prose-a:text-primary dark:prose-p:text-primary
  dark:prose-li:text-primary
  dark:prose-strong:text-primary dark:prose-code:text-primary
  prose-p:text-justify prose-img:rounded-xl
  prose-a:underline lg:max-w-full">
  <slot />
</div>
